.smbachg{
    background-image: url();
}
.sub-social h1{

    margin-right: 30%;
    position: relative;
    top: 20px;
    color: rgb(248, 243, 243);
    font-size:32px;
    margin-left:44px;
    
}
.sub-social p{
    position: relative;
    top: 130px;
    margin-top: -13px;
    float: left;

    margin-left: 45px;
    color: aliceblue;
}
.sub-social {
    width: 100%;
    height: 300px;
    
     background-image: url(https://d2m6ke2px6quvq.cloudfront.net/uploads/2020/07/15/aa9a0b99-ed76-48ea-8c14-4adcd42c91b1.jpg); 
    
    border-radius: 30px;
}
.sub-social i{
    color: gold;
    position: relative;
    right: 950px;
    top: 50px;
    
}
.sub-social h4{
    position: relative;
    margin-right: 852px;
    bottom: 84px;
    font-weight: 500;
    color: aliceblue;
    font-size:14px;
    margin-left:356px;
}
.sub-social h5{
    position: relative;
    margin-right: 600px;
    bottom: 109px;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
    margin-left:184px;
}
.social-skill{
    width: 100%;
    height: 520px;
    background-color: rgb(191, 198, 209);
    border-radius: 30px;
    position:relative;
    top:3px;

}
.social-skill h2{
    position: relative;
    margin-right: 60%;
    top: 10px;
    margin-left:39px;
    font-size:29px;
    

}
.social-skill p{
    margin-right: 55%;
    float: left;
    margin-left: 55px;
    position:relative;
    top:20px;
}
.social-lear{
    width: 100%;
    height: 320px;
    background-color: rgb(191, 198, 209);
    border-radius: 30px;
    position:relative;
    top:6px;
}
.social-lear h2{
    margin-right: 50%;
    margin-left:46px;
    font-size:29px;
    position:relative;
    top:8px;

}
#smm{
    margin-right: 60%;
    position: relative;
    top: 20px;
    width: 200px;
    height: 30px;
    background-color:  rgb(247, 250, 250);
    margin-left: 100px;
    border-radius: 15px;
}
#dme{
    margin-right: 70%;
    position: relative;
    top: 40px;
    width: 250px;
    height: 30px;
    background-color:  rgb(247, 250, 250) ;
    margin-left: 100px;
    border-radius: 15px;
}
#scw{
    position: relative;
width: 160px;
height: 30px;
background-color: rgb(247, 250, 250)  ;
    
    margin-left: 29%;
    border-radius: 15px;
    
}
#smg{
    width: 200px;
    height: 30px;
    background-color:  rgb(247, 250, 250);
    border-radius: 15px;
    margin-left: 100px;
    position: relative;
    top: 14px;
}
#seo{
    width: 130px;
    height: 30px;
    background-color: rgb(247, 250, 250);
    border-radius: 15px;
    position: relative;
    top: 33px;
    margin-left: 100px;
    
}


.container13{
    width: 90% !important;
    margin:0 auto;
}
.ssprojct{
    width: 100%;
    height: 480px;
    background-color: rgb(191, 198, 209);
    border-radius: 30px;
    position:relative;
    top:10px;

}
.ssprojct h2{
    margin-right: 1000px;
    font-weight: 400;
    margin-left:53px;
    font-size:29px;


}
.social-projc{
    position: relative;
    top: 20px;
    width: 28%;
    height: 400px;
    background-color:rgb(234, 242, 242) ;
    float: left;
    margin-left: 5%;
    border-radius: 20px;
}
.social-projc h5{
    margin-right: 230px;
    font-weight: 300;
    margin-left:15px;
    position:relative;
    top:5px;
    font-size:17px;
}
.social-projc h3{
    margin-right: -54px;
    font-weight: 300;
    font-size:20px;
    position:relative;
    top:24px;
    margin-left:15px;


}
.social-projc p{
    float: left;
    margin-top: -20px;
    position: relative;
    top: 110px;
    margin-left: 18px;
}
.social-projc img{
    width: 160px;
    position: relative;
    top: 90px;
    right: 90px;
}


.container2{
width: 90 !important;
margin:0 auto;
}
.reviws{
    width: 100%;
    height: 500px;
    background-color: rgb(191, 198, 209);
    position: relative;
    top: 13px;
    border-radius: 30px;

}
.sub-revu{
width: 40%;
height: 300px; 
background-color: rgb(234, 242, 242);   
float: left;
margin-left: 30px;
position: relative;
margin-left: 130px;
top: 40px;
border-radius: 20px;

}
.sub-revu p{
    float: left;
    margin-left: 20px;
    margin-top: -10px;
    position: relative;
    top: 15px;


}
.sub-revu i{
    color: gold;
    position: relative;
    bottom: 65px;
    left: 160px;
}
.reviws h2{
    position: relative;
    font-weight: 500;
    margin-right: 800px;
    margin-left:42px;
    font-size:29px;
    

}
.sub-revu img{
    width: 100px;
    position: relative;
    margin-right: 400px;
    top: 40px;
}
.sub-revu h3{
    position: relative;
    bottom: 65px;
}
    
