
.edu-adm-home-footer-container{
    width: 100%;
    height: 100px;
    /* background-color: #04b3904d; */
  
  
  }
  .edu-adm-home-footer-copyright{
    width: 100%;
    height: 25px;
   
  }
  .edu-adm-home-footer-copyright p{
    font-size: 20px;
    text-align: center;
   
  }
  .edu-adm-home-footer-icons {
    width: 100%;
    height: 30px;
    text-align: center;
  }
  .edu-adm-home-footer-icons i{
    padding: 7px;
    font-size: 20px;
   
  }
    
    .edu-adm-home-footer{
      width: 100%;
      height: 35px;
    }
    .edu-adm-home-footer-main{
      width: 100%;
  
      display: flex;
      justify-content: center;
      
    
  
      
    }
    .edu-adm-home-footer-main p{
      margin-left: 10px;
      font-size: 20px;
    }
    .edu-adm-home-footer-border{
      border: 1px solid black;
      margin-left: 10px;
    }
    .edu-adm-home-footer-sub{
      width: 100%;
      height: 100px; 
      text-align: center;
    }
   
    