*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.community-main{
    height: 1000px;
    width: 100%;
    display: flex;
    
}
.community-profile{
    height: 680px;
    width: 23%;
    margin: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    border-radius: 10px;
   
}
.community-profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 56px;
    left: 100px;
}
.community-profile p{
    position: relative;
    top: 50px;
    left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.community-profile h3{
    position: relative;
    top: 50px;
    left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.community-p-head{
    height: 100px;
    width: 100%;
    background-color: #17bf9e;
    border-radius: 10px 10px 0px 0px;
}
.community-view-profile{
    height: 30px;
    width: 80%;
    border-radius: 7px;
    border: solid rgb(212, 185, 185) 1px;
   margin-left: 30px;
   margin-top: 90px;
}
.community-view-profile b{
    margin-left: 70px;
}
.community-contributes{
    height: 350px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}
.community-contributes h2{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.community-date{
    height: 40px;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(247, 236, 236);
}
#community-all-time{
    position: relative;
    right: 90px;
    top: 10px;
}
#community-month p{
    position: relative;
    bottom: 50px;
}
#community-day{
    position: relative;
    bottom: 150px;
    left: 90px;
}
.community-list{
    height: 200px;
    width: 100%;
    list-style: none;
}
#profile-one{
    height: 100px;
    width: 100%;
}

#community-first-name{
    position: relative;
    bottom: 130px;
    font-size: 20px;
}
.community-list-one {
    width: 100%;
    height: 100px;
   
}
.community-list-one p{
    font-size: 25px;
    
}

#community-two-name{
    position: relative;
    bottom: 250px;
    font-size: 20px;
}

.community-c-banner{
    height: 750px;
    width: 95%;
    margin-top: 15px;
    border: 1px solid rgb(221, 218, 218);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}
.community-banner img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    left: 35px;
    top: 30px;
}
#name{
    position: relative;
    left: 111px;
    bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#name-d{
    position: relative;
    left: 111px;
    bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.community-banner-details{
    height: 400px;
    width: 90%;
}
.community-banner-details h3{

    position: relative;
    left: 30px;
}
.community-banner-details p{
    position: relative;
   left: 30px;
    top: 10px;
}
#babanner-details-p{
    
    position: relative;
    left: 30px;
    top: 30px;
}
#community-course{
    margin-right: 250px;
    margin-top: 20px;
}
#community-date{
    margin-right: 200px;
    margin-top: 10px;
}
#why{
    margin-right: 8px;
    margin-top: 20px;
}
#tableau-d{
    height: 150px;
    width: 93%;
    margin-left: 9px;
    content: initial;
}
#learn{
    margin-top: 50px;
}
#code{
height: 30px;
width: 10%;
border-radius: 5px;
background-color: lightgrey;
position: relative;
left: 50px;
top: 20px;
font-size: 15px;
}
#datascience{
    height: 30px;
width: 10%;
border-radius: 5px;
background-color: lightgrey;
position: relative;
left: 227px;
top: 20px;
font-size: 15px;
}
#group{
    height: 30px;
    width: 10%;
    border-radius: 5px;
    background-color: lightgrey;
    position: relative;
    left: 133px;
    top: 20px;
    font-size: 15px;
}
.community-like{
    height: 40px;
    width: 25%;
   border: 1px solid gray;
   border-radius: 8px;
   position: relative;
   left: 30px;
   top: 280px;
}
.community-follow{
    height: 40px;
    width: 25%;
   border: 1px solid gray;
   border-radius: 8px;
   position: relative;
   left: 230px;
   top: 240px;
}
.community-share{
    height: 40px;
    width: 25%;
   border: 1px solid gray;
   border-radius: 8px;
   position: relative;
   left: 420px;
   top: 200px;
}
.community-like p{
    position: relative;
    left: 60px;
}
.community-share p{
    position: relative;
    left: 60px;
}
.community-follow p{
    position: relative;
    left: 60px;
}
 
.community-comment{
    height: 800px;
    width: 50%;
 
}

.community-head{
    height: 100px;
    width: 95%;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
    margin-top: 30px;border-radius: 5px;
}
.community-head img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    left: 34px;
    top: 20px;
 
}
.community-head p{
    height: 30px;
    width: 50%;
    border-radius: 5px;
    background-color: #f9f6f6;
    position: relative;
    bottom: 30px;
    left: 130px;

}
.community-guid{
    height: 300px;
    width: 25%;
    margin-top: 50px;
    margin-right: 30px;
   
   
}
.community-guid h2{
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.community-guids{
    height: 450px;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}
.community-guid-one{
    height: 130px;
    width: 100%;
    
}
.community-guid-one h2{
    margin-right: 100px;
    padding: 20px;
}
.community-guid-one img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 236px;
    bottom: 86px;
}
.community-guid-one p{
    position: relative;
    bottom: 80px;
    left: 24px;
}

.community-guid-two{
    height: 130px;
    width: 100%;
    
}
.community-guid-two h2{
    margin-right: 150px;
    padding: 20px;
}
.community-guid-two img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 238px;
    bottom: 85px;
    border-radius: 50%;
}
.community-guid-two p{
    position: relative;
    bottom: 87px;
    margin-left: 30px;
}

.community-guid-three{
    height: 130px;
    width: 100%;
    
}
.community-guid-three h2{
    margin-right: 170px;
    padding: 20px;
}
.community-guid-three img{
    height: 50px;
    width: 50px;
    position: relative;
    left: 240px;
    bottom: 60px;
    border-radius: 50%;
}
.community-guid-three p{
    position: relative;
    bottom: 65px;
    left: 30px;
    
  
}